body {
  background-color: gray;
}

.container {
  position: relative;
}

.navigation {
  position: absolute;
  top: 8px;
  left: 16px;
  font-size: 18px;
}

.footer {
  position: absolute;
  bottom: 8px;
  left: 16px;
  font-size: 18px;
}
