* {
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
	font-family: "Helvetica", Arial, sans-serif;
	font-weight: normal;
}

.course-info {
	position: fixed;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 30%;
  height: 100%;
  padding: 2%;
}

p,
p a {
	font-family: "Helvetica", Arial, sans-serif;
	font-size: 1.3vw;
	line-height: 1.3;
	font-weight: normal;
}
